src/step_functions/state_machine.asl.json
{
  "Comment": "Music streaming KPI pipeline: Validate -> Transform -> Ingest -> Archive (S3 SDK). Triggered ONLY by streams CSV uploads under raw/streams/ via EventBridge. songs.csv and users.csv are static reference data (Terraform-managed, not upload-triggered).",
  "StartAt": "ValidateSchema",
  "TimeoutSeconds": 1800,
  "States": {
    "ValidateSchema": {
      "Type": "Task",
      "TimeoutSeconds": 660,
      "Resource": "arn:aws:states:::glue:startJobRun.sync",
      "Parameters": {
        "JobName": "${validate_job_name}",
        "Arguments": {
          "--s3_key.$": "$.detail.object.key",
          "--bucket.$": "$.detail.bucket.name",
          "--execution_id.$": "$$.Execution.Name"
        }
      },
      "ResultPath": "$.validate_result",
      "Retry": [
        {
          "ErrorEquals": ["States.ALL"],
          "IntervalSeconds": 30,
          "MaxAttempts": 2,
          "BackoffRate": 2.0,
          "MaxDelaySeconds": 300,
          "JitterStrategy": "FULL"
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.error",
          "Next": "NotifyFailure"
        }
      ],
      "Next": "TransformKPIs"
    },
    "TransformKPIs": {
      "Type": "Task",
      "TimeoutSeconds": 1920,
      "Resource": "arn:aws:states:::glue:startJobRun.sync",
      "Parameters": {
        "JobName": "${transform_job_name}",
        "Arguments": {
          "--s3_key.$": "$.detail.object.key",
          "--bucket.$": "$.detail.bucket.name",
          "--execution_id.$": "$$.Execution.Name"
        }
      },
      "ResultPath": "$.transform_result",
      "Retry": [
        {
          "ErrorEquals": ["States.ALL"],
          "IntervalSeconds": 30,
          "MaxAttempts": 2,
          "BackoffRate": 2.0,
          "MaxDelaySeconds": 300,
          "JitterStrategy": "FULL"
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.error",
          "Next": "NotifyFailure"
        }
      ],
      "Next": "IngestToDynamoDB"
    },
    "IngestToDynamoDB": {
      "Type": "Task",
      "TimeoutSeconds": 1920,
      "Resource": "arn:aws:states:::glue:startJobRun.sync",
      "Parameters": {
        "JobName": "${ingest_job_name}",
        "Arguments": {
          "--bucket.$": "$.detail.bucket.name",
          "--execution_id.$": "$$.Execution.Name",
          "--table_name": "${table_name}"
        }
      },
      "ResultPath": "$.ingest_result",
      "Retry": [
        {
          "ErrorEquals": ["States.ALL"],
          "IntervalSeconds": 30,
          "MaxAttempts": 2,
          "BackoffRate": 2.0,
          "MaxDelaySeconds": 300,
          "JitterStrategy": "FULL"
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.error",
          "Next": "NotifyFailure"
        }
      ],
      "Next": "PrepareArchive"
    },
    "PrepareArchive": {
      "Type": "Pass",
      "Parameters": {
        "archive_key.$": "States.Format('archive/{}', States.ArrayGetItem(States.StringSplit($.detail.object.key, 'raw/'), 1))"
      },
      "ResultPath": "$.archive",
      "Next": "ArchiveCopyToS3"
    },
    "ArchiveCopyToS3": {
      "Type": "Task",
      "TimeoutSeconds": 120,
      "Resource": "arn:aws:states:::aws-sdk:s3:copyObject",
      "Parameters": {
        "Bucket.$": "$.detail.bucket.name",
        "CopySource.$": "States.Format('/{}/{}', $.detail.bucket.name, $.detail.object.key)",
        "Key.$": "$.archive.archive_key"
      },
      "ResultPath": "$.archive_copy_result",
      "Retry": [
        {
          "ErrorEquals": ["States.ALL"],
          "IntervalSeconds": 10,
          "MaxAttempts": 2,
          "BackoffRate": 2.0,
          "JitterStrategy": "FULL"
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["S3.NoSuchKeyException", "S3.NoSuchKey", "NoSuchKey"],
          "ResultPath": "$.archive_copy_skip",
          "Next": "ArchiveDeleteRaw"
        },
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.error",
          "Next": "NotifyFailure"
        }
      ],
      "Next": "ArchiveDeleteRaw"
    },
    "ArchiveDeleteRaw": {
      "Type": "Task",
      "TimeoutSeconds": 60,
      "Resource": "arn:aws:states:::aws-sdk:s3:deleteObject",
      "Parameters": {
        "Bucket.$": "$.detail.bucket.name",
        "Key.$": "$.detail.object.key"
      },
      "ResultPath": "$.archive_delete_result",
      "Retry": [
        {
          "ErrorEquals": ["States.ALL"],
          "IntervalSeconds": 10,
          "MaxAttempts": 2,
          "BackoffRate": 2.0,
          "JitterStrategy": "FULL"
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["S3.NoSuchKeyException", "S3.NoSuchKey", "NoSuchKey"],
          "ResultPath": "$.archive_delete_skip",
          "Next": "PipelineSucceeded"
        },
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.error",
          "Next": "NotifyFailure"
        }
      ],
      "Next": "PipelineSucceeded"
    },
    "NotifyFailure": {
      "Type": "Task",
      "TimeoutSeconds": 60,
      "Resource": "arn:aws:states:::sns:publish",
      "Parameters": {
        "TopicArn": "${sns_topic_arn}",
        "Subject": "Music streaming pipeline FAILED",
        "Message.$": "States.Format('Execution {} failed.\nBucket: {}\nKey: {}\nError: {}\nCause: {}', $$.Execution.Name, $.detail.bucket.name, $.detail.object.key, $.error.Error, $.error.Cause)"
      },
      "ResultPath": "$.notify_result",
      "Next": "PipelineFailed"
    },
    "PipelineSucceeded": {
      "Type": "Succeed"
    },
    "PipelineFailed": {
      "Type": "Fail",
      "Error": "PipelineError",
      "Cause": "See $.error for the failing step's details and the SNS alert for human-readable context."
    }
  }
}
